{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card p-4">
            <h4 class="fw-bold mb-3">Войти в класс</h4>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Токен класса</label>
                    <input type="text" name="token" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Войти</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}